body {
    background-image: url(https://mitchellfauxleathers.com/sf-images/default-source/grand-slam---billiards/billiards-obsidian-vinyl-material.jpg?sfvrsn=c168ef25_4);
    background-repeat: repeat;
}

#top {
    background-color: antiquewhite;

}
a {
    float: right;
    width: 75px;
    font-size: 25px;
    padding: 15px;
}
a:hover {
    color: burlywood;
}

#middle-bit {
    width: 960px;
    background-color: #ffffff;
    border: 15px;
    align-content: center;
    margin-left: 186.5px;
    margin-right: 185.5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px;
}
img {
    margin: 15px;
}
heading {
    background-color:#4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    align-content: center;
    font-size: 45px;
    margin-left: 200px;
    padding: 0px;
}
footer {
    text-align: center;
    color: #ffffff;
    background-color: #777777;
    border-top: 8px solid #4aaaa5;
    float: bottom;
    width: 100%;
    height: 70px;
    size: 30px;
}
#box1, #box2, #box3, #box4, #box5   {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;

}
.text    {
    z-index: 999;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 170px; 
    text-align: center;
    width: 93.3%;
    background-color:  #4aaaa5;
    /*I'm honestly at a loss to figure out how to put the text on top of the image. I will be attending office hours tomorrow to attempt to get this issue resolved, but will be submitting now so I do not forget to. */
}